<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JusDone Application Test Automation Test Suite">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListenerNG" />
	</listeners>

	<test name="HomePageTests" >
		<classes>
			<class name="com.JusDone.qa.TestCases.HomePageTest"/>
				</classes>
				</test>
				
			<test name="RegisterPageTests" >
		<classes>	
			<class name="com.JusDone.qa.TestCases.RegisterPageTest"/>
			</classes>
				</test>
				
					<test name="LoginPageTests" >
		<classes>	
			<class name="com.JusDone.qa.TestCases.LoginPageTest"/>
				</classes>
				</test>
				
			<test name="DashBoardPageTests" >
		<classes>		
			<class name="com.JusDone.qa.TestCases.DashBoardPageTest"/>
			</classes>
				</test>
				
				<test name="TaskPageTests" >
		<classes>				
			<class name="com.JusDone.qa.TestCases.TaskPageTest"/>
			</classes>
				</test>
		
	</suite>