<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JusDone Application Test Automation Test Suite">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListenerNG" />
	</listeners>

	<test name="MultipleTests using Selenium Grid with Chrome Browser">
	<parameter name ="browserName1" value="chrome"/>
			<classes>
			<class name="com.JusDone.qa.TestCases.LoginPageTest"/>
				</classes>
			</test>
			<test name="Hi">
	<parameter name ="browserName2" value="firefox"/>
				<classes>
			<class name="com.JusDone.qa.TestCases.HomePageTest"/>
			
				</classes>
				</test>
				
		
			
	</suite>